body {
	background-color: black;
	margin: 0;
	padding:0;
	color: #fff;
	font: 100% / 1.5 Arial;
	height: 100%;
}

h1 {
	font-size: 50px;
	text-align: center;
}

h2 {
	text-anchor: middle;
	text-align: center;
	margin: 0;
}
 
p {
	text-align: center;
	font-size: 20px;
}

.wrapper {
	display: flex;
}

.flexEmpty {
	display: flex;
	flex-grow: 2;
}

.contentImg {
	display: block; 
	border: 5px solid black;
}